### Heroes Of Pymoli Data Analysis
The player base is overwhelmingly male, with 84% of the 576 players registering as male. 

PLayers have spent a total of $2,379.77 on in-game items. Though males make up the majority of the players, females actually spend more per person ($4.47) versus males ($4.07).

The majority of the players (45%) fall within the 20-24 age range. However, users under 10 and users between 35-39 spend the most per person at $4.54 and $4.86, respectively.

The most popular and most profitable item is "Oathbreaker, Last Hope of the Breaking Storm." It has 12 purchases for a total of $50.76.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load purchasing data 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [ ]:
#purchase_data.head()

In [2]:
#display total number of players
purchase_data["SN"].nunique()

576

In [3]:
#Display total number of players, alternate method
total = purchase_data["SN"].value_counts()
total_final=len(total)
total_final

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#calculate number of unique items
unique_items = purchase_data["Item ID"].value_counts()
number_unique_items = len(unique_items)

In [5]:
#calculate average price of items
average_price = purchase_data["Price"].mean()
average_price = round(average_price, 2)
average_price = "${:,.2f}".format(average_price)

In [ ]:
#output results 
# purchasing_analysis = {"Number of items": 183, "Average Price": 3.05}
# print(purchasing_analysis)

In [6]:
#output results to dataframe
purchasing_analysis_df = pd.DataFrame({"Number of items": [number_unique_items], "Average Price": [average_price]})
purchasing_analysis_df

   Number of items Average Price
0              183         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Group by gender
gender_overview = purchase_data.groupby("Gender")["SN"].nunique()
gender_overview

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [8]:
#find gender numbers
gender_count = gender_overview["Female"]+gender_overview["Male"]+gender_overview["Other / Non-Disclosed"]
gender_count_male = gender_overview["Male"]
gender_count_female = gender_overview["Female"]
gender_count_other = gender_overview["Other / Non-Disclosed"]
gender_count_male = round(gender_count_male)

#calculate gender percentages
male_percent = gender_count_male / gender_count
female_percent = gender_count_female / gender_count
other_percent = gender_count_other / gender_count
male_percent = ("{:.2%}".format(male_percent))
female_percent = ("{:.2%}".format(female_percent))
other_percent = ("{:.2%}".format(other_percent))

#output results to dataframe
gender_df = pd.DataFrame({"": ["Total Number","Percentage"],"Male": [gender_count_male, male_percent],"Female":[gender_count_female, female_percent],"Other / ND": [gender_count_other, other_percent]})
gender_df = gender_df.set_index("")
gender_df

                Male  Female Other / ND

Total Number     484      81         11
Percentage    84.03%  14.06%      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#calculate total purchases per gender
purchase_gender = purchase_data.set_index("Gender")
purchase_gender_male = purchase_gender.loc["Male",:]
purchase_gender_female = purchase_gender.loc["Female",:]
purchase_gender_other = purchase_gender.loc["Other / Non-Disclosed",:]
purchase_count_male = len(purchase_gender_male)
purchase_count_female = len(purchase_gender_female)
purchase_count_other = len(purchase_gender_other)

#calculate average purchase price per gender
avg_purchase_price_male = purchase_gender_male["Price"].mean()
avg_purchase_price_female = purchase_gender_female["Price"].mean()
avg_purchase_price_other = purchase_gender_other["Price"].mean()

avg_purchase_price_male = round(avg_purchase_price_male,2)
avg_purchase_price_female = round(avg_purchase_price_female,2)
avg_purchase_price_other = round(avg_purchase_price_other,2)
avg_purchase_price_male = "${:,.2f}".format(avg_purchase_price_male)
avg_purchase_price_female = "${:,.2f}".format(avg_purchase_price_female)
avg_purchase_price_other = "${:,.2f}".format(avg_purchase_price_other)

#calculate total purchase per person per gender
avg_perperson_male = purchase_gender_male.groupby("SN")["Price"].sum()
avg_perperson_male2 = avg_perperson_male.mean()
avg_perperson_male2 = round(avg_perperson_male2,2)
avg_perperson_male2 = "${:,.2f}".format(avg_perperson_male2)
total_male = avg_perperson_male.sum()
total_male = "${:,.2f}".format(total_male)

avg_perperson_female = purchase_gender_female.groupby("SN")["Price"].sum()
avg_perperson_female2 = avg_perperson_female.mean()
avg_perperson_female2 = round(avg_perperson_female2,2)
avg_perperson_female2 = "${:,.2f}".format(avg_perperson_female2)
total_female = avg_perperson_female.sum()
total_female = "${:,.2f}".format(total_female)

avg_perperson_other = purchase_gender_other.groupby("SN")["Price"].sum()
avg_perperson_other2 = avg_perperson_other.mean()
avg_perperson_other2 = round(avg_perperson_other2,2)
avg_perperson_other2 = "${:,.2f}".format(avg_perperson_other2)
total_other = avg_perperson_other.sum()
total_other = "${:,.2f}".format(total_other)

#output results to dataframe
purchasing_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / ND"],"Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other],
                                           "Total Purchase Value": [total_male, total_female,total_other], "Average Purchase Price": [avg_purchase_price_male, avg_purchase_price_female, avg_purchase_price_other],
                                          "Avg. Total Purchase Per Person": [avg_perperson_male2, avg_perperson_female2, avg_perperson_other2]})

purchasing_analysis_gender = purchasing_analysis_gender.set_index("Gender")
purchasing_analysis_gender

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg. Total Purchase Per Person
Gender,,,,
Male,652,"$1,967.64",$3.02,$4.07
Female,113,$361.94,$3.20,$4.47
Other / ND,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [182]:
#configure age bins
age_bins = [0,9,14,19,24,29,34,39,120]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
age_grouped = purchase_data.groupby("Age Bin")

#calculate number and percentages by age group
count_age = age_grouped["SN"].nunique()
percentage_age = count_age/total_final

#output results to dataframe
age_demographic = pd.DataFrame({"Total Count": count_age, "Percentage of Players": percentage_age})
age_demographic["Percentage of Players"]=age_demographic["Percentage of Players"].map("{:.2%}".format)
age_demographic.index.name = None
age_demographic

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [184]:
#create bins for age
age_bins = [0,9,14,19,24,29,34,39,120]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
age_grouped = purchase_data.groupby("Age Bin")

#calculate purchase count, avg. purchase price, avg. purchase total per person
purchase_count = age_grouped["Item Name"].count()
avg_price = age_grouped["Price"].mean()
purchase_total = age_grouped["Price"].sum()
avg_perperson_price = purchase_total/count_age

#output results to dataframe
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Price": avg_price,"Purchase Total": purchase_total, "Avg. Per Person": avg_perperson_price})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Purchase Total"] = purchase_analysis_df["Purchase Total"].map("${:.2f}".format)
purchase_analysis_df["Avg. Per Person"] = purchase_analysis_df["Avg. Per Person"].map("${:.2f}".format)
purchase_analysis_df

         Purchase Count Average Price Purchase Total Avg. Per Person
Age Bin
<10                  23         $3.35         $77.13           $4.54
10-14                28         $2.96         $82.78           $3.76
15-19               136         $3.04        $412.89           $3.86
20-24               365         $3.05       $1114.06           $4.32
25-29               101         $2.90        $293.00           $3.81
30-34                73         $2.93        $214.00           $4.12
35-39                41         $3.60        $147.67           $4.76
40+                  13         $2.94         $38.24           $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [205]:
#calculate top spenders
sn_group = purchase_data.groupby(["SN"])
sn_total_purchase = sn_group["Price"].sum()
sn_avg_purchase = sn_group["Price"].mean()

#sort by total purchase
sn_df = pd.DataFrame({"Avg. Purchase": sn_avg_purchase, "Total Purchase": sn_total_purchase})
sn_df_sort = sn_df.sort_values("Total Purchase", ascending=False)
sn_df_sort["Total Purchase"] = sn_df_sort["Total Purchase"].map("${:.2f}".format)
sn_df_sort["Avg. Purchase"] = sn_df_sort["Avg. Purchase"].map("${:.2f}".format)
sn_df_sort.head()

            Avg. Purchase Total Purchase
SN
Lisosia93           $3.79         $18.96
Idastidru52         $3.86         $15.45
Chamjask73          $4.61         $13.83
Iral74              $3.40         $13.62
Iskadarya95         $4.37         $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [210]:
#calculate purchase count, item price, and total purchase value
popular_df = purchase_data[["Item ID","Item Name","Price"]]
popular_grp = popular_df.groupby(["Item ID", "Item Name"])
pop_purchase = popular_grp["Item ID"].count()
pop_total = popular_grp["Price"].sum()
item_price = pop_total / pop_purchase

#output results to dataframe
pop_df = pd.DataFrame({"Purchase Count": pop_purchase, "Item Price": item_price,"Total Purchase Value": pop_total})
pop_df_sort = pop_df.sort_values("Purchase Count", ascending=False)
pop_df_sort["Total Purchase Value"] = pop_df_sort["Total Purchase Value"].map("${:.2f}".format)
pop_df_sort["Item Price"] = pop_df_sort["Item Price"].map("${:.2f}".format)
pop_df_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [213]:
#resort by most popular items
pop_df_sort = pop_df.sort_values("Total Purchase Value", ascending=False)
pop_df_sort["Total Purchase Value"] = pop_df_sort["Total Purchase Value"].map("${:.2f}".format)
pop_df_sort["Item Price"] = pop_df_sort["Item Price"].map("${:.2f}".format)

pop_df_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80